
/* ====================================================== 
    Highlight                                
/* ====================================================== */

/**
* xonokai theme for JavaScript, CSS and HTML
* based on: https://github.com/MoOx/sass-prism-theme-base by Maxime Thirouin ~ MoOx --> http://moox.fr/ , which is Loosely based on Monokai textmate theme by http://www.monokai.nl/
* license: MIT; http://moox.mit-license.org/
*/

code[class*="language-"] {
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: normal;
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-size: 14px;
	color: #76d9e6;
	text-shadow: none;
}

pre[class*="language-"] {
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: normal;
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-size: 14px;
	color: #76d9e6;
	text-shadow: none;
	background: #2a2a2a;
}

:not(pre) > code[class*="language-"] {
	background: #2a2a2a;
}

pre[class*="language-"] {
	padding: 15px;
	border-radius: 4px;
	border: 1px solid #e1e1e8;
	overflow: auto;
	position: relative;
	
	code {
		white-space: pre;
		display: block;
	}
}

:not(pre) > code[class*="language-"] {
	padding: 0.15em 0.2em 0.05em;
	border-radius: .3em;
	border: 0.13em solid #7a6652;
	box-shadow: 1px 1px 0.3em -0.1em #000 inset;
}

.token {
	&.namespace {
		opacity: .7;
	}
	&.comment, 
	&.prolog, 
	&.doctype, 
	&.cdata {
		color: #6f705e;
	}
	&.operator, 
	&.boolean, 
	&.number {
		color: #a77afe;
	}
	&.attr-name, 
	&.string, 
	&.entity, 
	&.url {
		color: #e6d06c;
	}
}

.language-css .token.string, 
.style .token.string {
	color: #e6d06c;
}

.token {
	&.selector, 
	&.inserted {
		color: #a6e22d;
	}
	&.atrule, 
	&.attr-value, 
	&.keyword, 
	&.important, 
	&.deleted {
		color: #ef3b7d;
	}
	&.regex, 
	&.statement {
		color: #76d9e6;
	}
	&.placeholder, 
	&.variable {
		color: #fff;
	}
	&.important, 
	&.statement, 
	&.bold {
		font-weight: bold;
	}
	&.punctuation {
		color: #bebec5;
	}
	&.entity {
		cursor: help;
	}
	&.italic {
		font-style: italic;
	}
}

code.language-markup {
	color: #f9f9f9;
	.token {
		&.tag {
			color: #ef3b7d;
		}
		&.attr-name {
			color: #a6e22d;
		}
		&.attr-value {
			color: #e6d06c;
		}
		&.style {
			color: #76d9e6;
		}
		&.script {
			color: #76d9e6;
			.token.keyword {
				color: #76d9e6;
			}
		}
	}
}

/* Line highlight plugin */

pre {
	&[class*="language-"][data-line] {
		position: relative;
		padding: 1em 0 1em 3em;
	}
	&[data-line] .line-highlight {
		position: absolute;
		left: 0;
		right: 0;
		padding: 0;
		margin-top: 1em;
		background: rgba(255, 255, 255, 0.08);
		pointer-events: none;
		line-height: inherit;
		white-space: pre;
		&:before {
			content: attr(data-start);
			position: absolute;
			top: .4em;
			left: .6em;
			min-width: 1em;
			padding: 0.2em 0.5em;
			background-color: rgba(255, 255, 255, 0.4);
			color: black;
			font: bold 65%/1 sans-serif;
			height: 1em;
			line-height: 1em;
			text-align: center;
			border-radius: 999px;
			text-shadow: none;
			box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
		}
		&[data-end]:after {
			content: attr(data-start);
			position: absolute;
			top: .4em;
			left: .6em;
			min-width: 1em;
			padding: 0.2em 0.5em;
			background-color: rgba(255, 255, 255, 0.4);
			color: black;
			font: bold 65%/1 sans-serif;
			height: 1em;
			line-height: 1em;
			text-align: center;
			border-radius: 999px;
			text-shadow: none;
			box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
			content: attr(data-end);
			top: auto;
			bottom: .4em;
		}
	}
}