
/* ====================================================== 
   Level styles                           
/* ====================================================== */

.level-list {
	margin: 0;
	padding: 0;
	list-style: none;
	
	> li {
		margin: 0;
		padding: 5px 10px;
		-webkit-border-radius: 2px; 
		-moz-border-radius: 2px; 
		border-radius: 2px;

		&:nth-child(2n) {
			background: #F0F0F0;
		}
	}
	
}

