<!-- Setting up the Page
================================================== -->
<section>
  <h1>12. Setting up the Page</h1>
   <p>
   A custom page is helpful if you want to have a page that looks completely different than rest of your blog but still runs on the WordPress CMS. You can also use it as a homepage or a landing page or other presentation page.
   </p>

   <ul> 
		<li>
			<h2>12.1. Page Templates</h2>
			<p>Let's take a look at the available page templates:</p>
			<p><img src="assets/images/theme/cus-page-2.jpg" alt="" /></p>
			<ul>
				<li><strong class="ti">Default Template</strong><br>Select this template if you would like to create a standard page with your content inside the grid. <br><br></li>
				<li><strong class="ti">Blog No Sidebar</strong><br>Select this template to display a list of your blog posts without sidebar on the page. You can go to  <code>Dashboard » Appearance » Customize » Blog Settings</code> to design of the layout.<br><br></li>
				<li><strong class="ti">Blog Sidebar</strong><br>Select this template to display a normal list of your blog posts on the page. You can go to  <code>Dashboard » Appearance » Customize » Blog Settings</code> to design of the layout.<br><br></li>
				<li><strong class="ti">Contact</strong><br>Select this template for contact page which take your WordPress comment form. <br><br></li>
				<li><strong class="ti">Products</strong><br>Select this template to display a list of your portfolio posts on the page. The portfolio list will be displayed in a 2 Column, 3 Column, 4 Column, Filterable or Masonry. You can go to  <code>Dashboard » Appearance » Customize » Products Settings</code> to design of the layout.<br><br></li>
				<li><strong class="ti">Home Slideshow Contained</strong><br>Select this template to create a homepage with contained slideshow. <br><br></li>
				<li><strong class="ti">Home Slideshow Full Header</strong><br>Select this template to create a homepage with slideshow as full header. <br><br></li>
				<li><strong class="ti">Home Slideshow Fullwidth</strong><br>Select this template to create a homepage with full width slideshow. (Default style) <br><br></li>	
				<li><strong class="ti">Home Without Slideshow</strong><br>Select this template to create a homepage without slideshow. </li>

			</ul>
	   </li>
		<li>
			<h2>12.2. Title & Page Title Subtitle Settings</h2>
			<p>To specify the <code class="language-javascript">Page Title Subtitle</code>, <code class="language-javascript">Letter Case</code> and <code class="language-javascript">Letter Spacing</code>. Locate the <strong>"Title & Page Title Subtitle Settings"</strong> section on the bigger left one.</p>
			<div class="tabs">		

				<h3>Demo 1</h3>
				<div>
				   <p><img src="assets/images/theme/cus-page-4.jpg" alt="" /></p>
				</div>	
				<h3>Demo 2</h3>
				<div>
				   <p><img  src="assets/images/theme/cus-page-4_2.jpg" alt="" /></p>
				</div>	
				<h3>Demo 3</h3>
				<div>
				   <p><img  src="assets/images/theme/cus-page-4_3.jpg" alt="" /></p>
				</div>							
		   </div><!-- /.tabs -->

	   </li>
		<li>
			<h2>12.3. Page Settings</h2>
			<p>To specify the <code class="language-javascript">Height of Page Title Area</code>, <code class="language-javascript">Display The Page Title</code>, <code class="language-javascript">Sidebar</code> and <code class="language-javascript">Featured Image</code>. Locate the <strong>"Page Settings"</strong> section on the bigger left one.</p>
			<p>
			Pages can have a single <strong>"Featured Image"</strong>, which enhance the presentation of your site. It is valid to assign height to page title area when the featured image is not empty.
			</p>
			<div class="bs-callout bs-callout-danger">
				You need to make sure to select this template file as the <code class="language-javascript">Default Template</code> for this page from the <strong>"Page Attributes"</strong> section.
			</div>
			<div class="tabs">		

				<h3>Demo 1</h3>
				<div>
				   <p><img src="assets/images/theme/cus-page-5.jpg" alt="" /></p>
				</div>	
				<h3>Demo 2</h3>
				<div>
				   <p><img  src="assets/images/theme/cus-page-5_2.jpg" alt="" /></p>
				</div>	
				<h3>Demo 3</h3>
				<div>
				   <p><img  src="assets/images/theme/cus-page-5_3.jpg" alt="" /></p>
				</div>	
				<h3>Demo 4</h3>
				<div>
				   <p><img  src="assets/images/theme/cus-page-5_4.jpg" alt="" /></p>
				</div>						
		   </div><!-- /.tabs -->



	   </li>
  </ul>	   

</section>  
<!-- /section -->