<!-- Google Map
================================================== -->
<section>
  <h1 class="hot">18. Google Map</h1>
  <p>Contact Page integrated with Google Maps that allows you to customize the Google Map styles.</p>


  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 1.</h5> Go to <code>Dashboard » Appearance » Customize</code>.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/customize-1.jpg" alt="" /></div>
		</div>
  </article>

  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 2.</h5> Locate the <strong>"Styling » Google Map"</strong> section on the left side of the screen.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/map-3.jpg" alt="" /></div>
		</div>
  </article>



  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 3.</h5> Navigate to the map region you wish to use to preview your style. Enter "Place name", "Latitude" and "Longitude" field. You can make a search, use the name of a place, city, state, or address, or click the location on the map to get lat long coordinates.  &rarr; <a href="http://www.latlong.net/" target="_blank" rel="nofollow">Get Latitude Longitude</a>. When you’re done, click <strong>"Save & Publish"</strong> button.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/map-1.jpg" alt="" /><img src="assets/images/theme/map-2.jpg" alt="" /></div>
		</div>
  </article>



</section>  
<!-- /section -->
