<!-- Setting up the Blog
================================================== -->
<section>
  <h1>8. Setting up the Blog</h1>
  <ul> 
		<li>
			  <h2>8.1. Customization Options</h2>
			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 1.</h5> Go to <code>Dashboard » Appearance » Customize</code>.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/customize-1.jpg" alt="" /></div>
					</div>
			  </article>

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 2.</h5> Locate the <strong>"Blog Settings"</strong> section on the left side of the screen.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/blog-1.jpg" alt="" /></div>
					</div>
			  </article>



			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 3.</h5> On this page, edit the options and click the <strong>"Save & Publish"</strong> button.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/blog-2.jpg" alt="" /></div>
					</div>
			  </article>

		</li>
		<li>
			  <h2>8.2. Create a Blog Page</h2>
			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 1.</h5> Go to <code>Dashboard » Page » Add New</code>.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/cus-page-1.jpg" alt="" /></div>
					</div>
			  </article>
			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 2.</h5> Add the title of the page, like "Blog".
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/blog-3.jpg" alt="" /></div>
					</div>
			  </article>	  

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 3.</h5> When entering a title, one of the second things you will probably want to do is to choose an appropriate template for your page. Locate the <strong>"Page Attributes"</strong> section on the right side of the screen. THeme comes with a variety of page templates to choose from. Just make sure to select this template file as:<br> <code class="language-javascript">Blog Sidebar</code><br> <code class="language-javascript">Blog No Sidebar</code>
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/blog-4.jpg" alt="" /></div>
					</div>
			  </article> 

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 4.</h5> You can specify the template attributes from the <strong>"Title & Page Title Subtitle Settings"</strong> section on the bigger left one.
						  </p></div>
						  <div class="col-md-9">
								<div class="tabs">		

									<h3>Demo 1</h3>
									<div>
									   <p><img src="assets/images/theme/blog-5.jpg" alt="" /></p>
									</div>	
									<h3>Demo 2</h3>
									<div>
									   <p><img src="assets/images/theme/blog-5_2.jpg" alt="" /></p>
									</div>						
							   </div><!-- /.tabs -->

						  </div>
					</div>
			  </article>	



			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 5.</h5> You won’t need to add any content in the WordPress editor for this template page because this content will be ignored. Once you've selected the template you would like to add your new page to, click the <strong>"Publish"</strong> button.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/cus-page-3.jpg" alt="" /></div>
					</div>
			  </article>     

			  <article>
					<div class="row">	  
						  <div class="col-md-12">
						
						       <h5>Step 6.</h5> You’ll need to add the page to your menu so you can access it easily. From your admin area go to <code>Dashboard » Appearence » Menus</code>, check the Blog page and click Add to Menu, then click Save Menu. You’ll now be able to access the blog page from your main menu on your site.
						  </div>
						  
					</div>	  
				 				
			  </article>    



		</li>
		<li>
			  <h2>8.3. Add New Post</h2>
			  <ul>
				  <li>Go to <code>Dashboard » Posts » Add New</code>.</li>
				  <li>Start filling in the blanks: enter your post title in the upper field, and enter your post body content in the main post editing box below it.</li>
				  <li>As needed, select a <code class="language-javascript">Categories</code>, <code class="language-javascript">Format</code>, <code class="language-javascript">Excerpt</code>, <code class="language-javascript">Tags</code> and <code class="language-javascript">Featured Image</code>.</li>
				  <li>When you are ready, click <strong>"Publish"</strong> button.</li>
			  </ul>
				<div class="bs-callout bs-callout-warning">
					 <h4>Note:</h4>

						<div class="tabs">
							<h3>Custom Excerpts</h3>
							<div>
								<p>Sometimes, you might not be happy with an automatically generated excerpt or you just want to add your own custom excerpt. In that case there is an option integrated in WordPress to enable an additional field to enter custom excerpts.</p>
								<p>
			The <code class="language-javascript">Excerpt</code> field usually isn’t visible by default. When you are on the edit post screen, you’ll see a small menu item <strong>"Screen Options"</strong> in the upper right corner of the screen. Please click on the button and it will open an options panel where you can just check the box <strong>"Excerpt"</strong>.

								</p>
								<p><img src="assets/images/theme/post-11.jpg" alt="" /></p>  
							</div>
							<h3>Excerpt Length</h3>
							<div>
								<p>
								If the post has not a custom excerpt or does not contain <strong>&lt;!--more--&gt;</strong> tag, then it'll automatically generate an excerpt with limit number of words.<br>
								Go to <code>Dashboard » Appearance » Customize » Blog Settings</code>. Locate the <strong>"Limit the Number of Words in Excerpt"</strong> region and edit it. When you’re done, click <strong>"Save & Publish"</strong> button.<br>

								</p>
								<p><img src="assets/images/theme/post-12.jpg" alt="" /></p> 
							</div>              

					   </div><!-- /.tabs -->

				</div>



		</li>
		<li>
			  <h2>8.4. Post Formats</h2>
			   <p>Let's take a look at the available formats (6 Post Formats):</p>
			   <p><img src="assets/images/theme/post-2.jpg" alt="" /></p>
			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>1. Standard</h5> 
							  This is default styling for the WordPress theme. Simply add new post or edit post and select post format as Standard.
							  <br><br>
							  <strong>Front-end display:</strong>
							  <img src="assets/images/theme/post-list-1.jpg" alt="" />
						  </p></div>
						  <div class="col-md-9">
							  <img src="assets/images/theme/post-13.jpg" alt="" /><img src="assets/images/theme/post-14.jpg" alt="" />

						  </div>
					</div>
			  </article>

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>2. Video</h5> 
							 This format will show a featured video as cover of the post. You can paste your URL that should be embedded. Supports services listed at <a target="_blank" href="http://codex.wordpress.org/Embeds">http://codex.wordpress.org/Embeds.</a>
							  <br><br>
							  <strong>Front-end display:</strong>
							  <img src="assets/images/theme/post-list-5.jpg" alt="" />
						  </p></div>
						  <div class="col-md-9">
							  <img src="assets/images/theme/post-18.jpg" alt="" />
						  </div>
					</div>
			  </article>	  


			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>3. Quote</h5> 
							 This format will show a quote with a beautiful style from your posts.
							  <br><br>
							  <strong>Front-end display:</strong>
							  <img src="assets/images/theme/post-list-3.jpg" alt="" />
						  </p></div>
						  <div class="col-md-9">
							  <img src="assets/images/theme/post-16.jpg" alt="" />
						  </div>
					</div>
			  </article>

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>4. Link</h5> 
							 This format will show a link from your posts.
							  <br><br>
							  <strong>Front-end display:</strong>
							  <img src="assets/images/theme/post-list-4.jpg" alt="" />
						  </p></div>
						  <div class="col-md-9">
							  <img src="assets/images/theme/post-17.jpg" alt="" /><img src="assets/images/theme/post-14.jpg" alt="" />
						  </div>
					</div>
			  </article>	 

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>5. Audio</h5> 
							 This format will show a featured audio as cover of the post. You can paste your URL that should be embedded. Supports services listed at <a target="_blank" href="http://codex.wordpress.org/Embeds">http://codex.wordpress.org/Embeds.</a>
							  <br><br>
							  <strong>Front-end display:</strong>
							  <img src="assets/images/theme/post-list-2.jpg" alt="" />
						  </p></div>
						  <div class="col-md-9">
							  <img src="assets/images/theme/post-15.jpg" alt="" />
						  </div>

					</div>
			  </article>	  	    	    	    	      	    	    	      	    	    	    


			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>6. Gallery</h5> 
							 This format will show a thumbnail image from your posts, as well as an excerpt of the gallery. To have this post format, you need to add gallery for the post by clicking on <code>Add Media » Create Gallery</code> and press <strong>"Create a new gallery"</strong> button in order to insert the gallery into the post.
							  <br><br>
							  <strong>Front-end display:</strong>
							  <img src="assets/images/theme/post-list-6.jpg" alt="" />
						  </p></div>
						  <div class="col-md-9">
							  <img src="assets/images/theme/post-19.jpg" alt="" /><img src="assets/images/theme/post-19_2.jpg" alt="" />
						  </div>

					</div>
			  </article>	  

		</li>

  </ul>  
</section>  
<!-- /section -->