
<!-- Footer Customization
================================================== -->
<section>
  <h1>14. Footer</h1>
	 <p>Theme gives you control over the overall style of Footer layout and copyright information. </p>

	 <p><img  src="assets/images/theme/footermenu-demo.jpg" alt="" /></p>

	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 1.</h5> Go to <code>Dashboard » Appearance » Customize</code>.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/customize-1.jpg" alt="" /></div>
			</div>
	  </article>

	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 2.</h5> Locate the <strong>"General"</strong> section on the left side of the screen.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/footer-2.jpg" alt="" /></div>
			</div>
	  </article>



	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 3.</h5> Locate the <strong>"Copyright Info"</strong> region and edit it. When you’re done, click <strong>"Save & Publish"</strong> button.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/footer-1.jpg" alt="" /></div>
			</div>
	  </article>




</section>  
<!-- /section -->