<!-- Setting up the Contact Page
================================================== -->
<section>
  <h1>11. Setting up the Contact Page</h1>

  <div class="bs-callout bs-callout-danger">
	Remember, you need to enable comments on contact page. Check out: <a href="https://codex.wordpress.org/Comments_in_WordPress" target="_blank">https://codex.wordpress.org/Comments_in_WordPress</a>
  </div>

  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 1.</h5> Go to <code>Dashboard » Page » Add New</code>.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/cus-page-1.jpg" alt="" /></div>
		</div>
  </article>
  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 2.</h5> Add the title of the page, like "Contact Us".
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/contact-1.jpg" alt="" /></div>
		</div>
  </article>	  

  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 3.</h5> When entering a title, one of the second things you will probably want to do is to choose an appropriate template for your page. Locate the <strong>"Page Attributes"</strong> section on the right side of the screen. THeme comes with a variety of page templates to choose from. Just make sure to select this template file as <code class="language-javascript">Contact</code>
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/contact-2.jpg" alt="" /></div>
		</div>
  </article> 

  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 4.</h5> Next, add some content. You can create your own custom shortcodes to display pretty much anything!
				  <br><br>
				  <strong>Front-end display:</strong>
				  <img src="assets/images/theme/contact-5.jpg" alt="" />
			  </p></div>
			  <div class="col-md-9">
				  <img src="assets/images/theme/contact-3.jpg" alt="" />
<h5>Content and Shortcode Reference:</h5>
<pre><code class="language-javascript">&lt;h4&gt;GET IN TOUCH&lt;/h4&gt;
At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,

&lt;hr /&gt;

438 Marine Parade
Elwood, Victoria
P.O Box 3184

&lt;hr /&gt;

&lt;strong&gt;E:&lt;/strong&gt; hello@foundry.net
&lt;strong&gt;P:&lt;/strong&gt; +614 3948 2726</code></pre>

			  </div>
		</div>
  </article>	

  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 5.</h5> You have to turn on comments for this page. After navigating to the editing screen for the post or Page you wish to add comments to, find the <strong>"Discussion"</strong> box and check “Allow Comments.” (If you do not see the <strong>"Discussion"</strong> box on the edit Page, click <strong>"Screen Options"</strong> in the upper right corner of the browser window. Make sure the box next to “Discussion” is checked.) 

			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/contact-4.jpg" alt="" /><img src="assets/images/theme/contact-4_2.jpg" alt="" /></div>
		</div>
  </article>     



  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 6.</h5> Click the <strong>"Publish"</strong> button.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/cus-page-3.jpg" alt="" /></div>
		</div>
  </article>     

  <article>
		<div class="row">	  
			  <div class="col-md-12">

				   <h5>Step 7.</h5> You’ll need to add the page to your menu so you can access it easily. From your admin area go to <code>Dashboard » Appearence » Menus</code>, check the Blog page and click Add to Menu, then click Save Menu. You’ll now be able to access the blog page from your main menu on your site.
			  </div>

		</div>	  
	  
	  
  </article>    


</section>  
<!-- /section -->