<!-- Import Demo
================================================== -->
<section>
  <h1>4. Import Demo</h1>

	<p>Once you have installed all theme Plugins you can import the Demo Content. By installing the demo content, your theme will look like the one you see on our demo. Restroe available content more than <strong>95%</strong>. This action will let you understand how the theme works by allowing you to modify a content that is already there rather than creating it from scratch.</p>
	<br>
	<article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 1.</h5> Go to <code>Dashboard » Tools » Import</code> in the admin panel.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/import-1.jpg" alt="" /></div>
		</div>
	</article>

	<article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 2.</h5> Click on <strong>"WordPress"</strong>, this will install the WordPress Importer plugin.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/import-2.jpg" alt="" /></div>
		</div>
	</article>



	<article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 3.</h5> Choose the <code>Demo-Content/shadowerpro_wordpress_demo_content.xml</code> downloaded in the .zip above. Once selected, Click <strong>"Upload file and import"</strong>. <br><br>On the next page you will be asked to assign a user to the posts you are importing. Make sure you have download and import file attachments checked. Click the <strong>"Submit"</strong> button. This will take a little while to upload.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/import-3.jpg" alt="" /></div>
		</div>

	</article>


</section>
<!-- /section -->