<!-- Page Background Pattern
================================================== -->
<section>
  <h1>23. Page Background Pattern</h1>
  <p>You can remove the default animation of the background.</p>

  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 1.</h5> Go to <code>Dashboard » Appearance » Customize</code>.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/customize-1.jpg" alt="" /></div>
		</div>
  </article>

  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 2.</h5> Locate the <strong>"Colors"</strong> section on the left side of the screen.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/pagebg-1.jpg" alt="" /></div>
		</div>
  </article>



  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 3.</h5> You should be able to find option <strong>"Page Background Pattern"</strong> at this point. When you’re done, click <strong>"Save & Publish"</strong> button.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/pagebg-2.jpg" alt="" /></div>
		</div>
  </article>


</section>  
<!-- /section -->