<!-- Loader Style
================================================== -->
<section>
  <h1>19. Loader Style</h1>
  <p>We have provided 3 different loader styles. The loader style that you choose here will appear between page loads.</p>

  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 1.</h5> Go to <code>Dashboard » Appearance » Customize</code>.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/customize-1.jpg" alt="" /></div>
		</div>
  </article>

  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 2.</h5> Locate the <strong>"Styling » Google Map"</strong> section on the left side of the screen.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/loader-2.jpg" alt="" /></div>
		</div>
  </article>



  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 3.</h5> Choose the appropriate effect style, and you can set up the loader "Stroke Width" and "Zoom". When you’re done, click <strong>"Save & Publish"</strong> button.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/loader-1.jpg" alt="" /></div>
		</div>
  </article>



</section>  
<!-- /section -->