<!-- Page Builder
================================================== -->
<section>
	<h1>25. Page Builder</h1>

	<p>
		Go to your WordPress admin panel, edit or create a new page. You will find <code>Uix Page Builder Attributes</code> settings in a meta box in your WordPress backend when you create a new page or when you are editing an existing one.
	</p>
   <p><img src="assets/images/theme/cus-page-1.jpg" alt="" /></p>
	<p><img src="assets/images/theme/page-builder-1.jpg" alt="" /><img src="assets/images/theme/page-builder-1_2.jpg" alt="" /></p>


	<div class="bs-callout bs-callout-info">
	  <h4><a href="https://uiux.cc/wp-plugins-helper/uix-page-builder" target="_blank">Online Documentation</a></h4>
	</div>

</section>
<!-- /section -->