
<!-- Setting up the Portfolio
================================================== -->
<section>
  <h1>9. Setting up the Portfolio</h1>
  <ul> 
		<li>
			  <h2>9.1. Customization Options</h2>
			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 1.</h5> Go to <code>Dashboard » Appearance » Customize</code>.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/customize-1.jpg" alt="" /></div>
					</div>
			  </article>

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 2.</h5> Locate the <strong>"Products Settings"</strong> section on the left side of the screen.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/work-1.jpg" alt="" /></div>
					</div>
			  </article>



			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 3.</h5> On this page, edit the options and click the <strong>"Save & Publish"</strong> button.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/work-2.jpg" alt="" /></div>
					</div>
			  </article>

		</li>
		<li>
			  <h2>9.2. Create a Portfolio Page</h2>
			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 1.</h5> Go to <code>Dashboard » Page » Add New</code>.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/cus-page-1.jpg" alt="" /></div>
					</div>
			  </article>
			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 2.</h5> Add the title of the page, like <strong>"Portfolio"</strong>.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/work-3.jpg" alt="" /></div>
					</div>
			  </article>	  

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 3.</h5> When entering a title, one of the second things you will probably want to do is to choose an appropriate template for your page. Locate the <strong>"Page Attributes"</strong> section on the right side of the screen. THeme comes with a variety of page templates to choose from. Just make sure to select this template file as <code class="language-javascript">Products</code>
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/work-4.jpg" alt="" /></div>
					</div>
			  </article> 

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 4.</h5> You can specify the template attributes from the <strong>"Title & Page Title Subtitle Settings"</strong> section on the bigger left one.
						  </p></div>
						  <div class="col-md-9">
								<div class="tabs">		

									<h3>Demo 1</h3>
									<div>
									   <p><img src="assets/images/theme/work-5.jpg" alt="" /></p>
									</div>	
									<h3>Demo 2</h3>
									<div>
									   <p><img src="assets/images/theme/work-5_2.jpg" alt="" /></p>
									</div>						
							   </div><!-- /.tabs -->
						  </div>
					</div>
			  </article>	



			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 5.</h5> You won’t need to add any content in the WordPress editor for this template page because this content will be ignored. Once you've selected the template you would like to add your new page to, click the <strong>"Publish"</strong> button.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/cus-page-3.jpg" alt="" /></div>
					</div>
			  </article>     

			  <article>
					<div class="row">	  
						  <div class="col-md-12">
						
						       <h5>Step 6.</h5> You’ll need to add the page to your menu so you can access it easily. From your admin area go to <code>Dashboard » Appearence » Menus</code>, check the Portfolio page and click Add to Menu, then click Save Menu. You’ll now be able to access the portfolio page from your main menu on your site.
						  </div>
						  
					</div>	  
				  
			  </article>     



		</li>
		<li>
			  <h2>9.3. Add New Portfolio</h2>
			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 1.</h5> Go to <code>Dashboard » Uix Products » Add New Item</code>.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/work-6.jpg" alt="" /></div>
					</div>
			  </article>
			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 2.</h5> Start filling in the blanks: enter your portfolio title in the upper field, and enter your portfolio body content in the main portfolio editing box below it.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/work-7.jpg" alt="" /></div>
					</div>
			  </article>	 

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 3.</h5> Add a <strong>"Featured Image"</strong> as cover of portfolio list.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/work-8.jpg" alt="" /></div>
					</div>
			  </article>	 

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 4.</h5> Here you can select the <strong>"Categories"</strong> that you would like to add this post to. If you would like to create a new category, click on the <strong>"+ Add New"</strong> link. A text field will appear in which you can enter a category name, and then click Add New Category.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/work-8_2.jpg" alt="" /></div>
					</div>
			  </article>	  

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 5.</h5> You can specify the portfolio attributes from the <strong>"Artwork Settings"</strong> section on the bigger left one. And you could add custom attributes. 
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/work-8_3.jpg" alt="" /></div>
					</div>
			  </article>	  


			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 6.</h5> As needed, select a <code class="language-javascript">Excerpt</code> or <code class="language-javascript">Image Gallery</code>. 
						  </p></div>
						  <div class="col-md-9">
								<div class="tabs">		

									<h3>Image Gallery</h3>
									<div>
									   <p>
										A field named Select Gallery post format will appear in the Image Gallery section of the page. This format features an image gallery slider. In order for it to work, you need to click <strong>"Add/Edit Images"</strong> button to add a gallery in the Image Gallery section of your page, and here you can upload and add your gallery images.<br><br>

										You can just check the box <strong>"Enable Lightbox for this gallery?"</strong> in order to enable lightbox effect for gallery. 
										</p>
										<p><img src="assets/images/theme/work-8_4.jpg" alt="" /></p>  
									</div>	
									<h3>Excerpt</h3>
									<div>
										<p>
			You could want to add your own custom excerpt. If you can't see this field, you’ll see a small menu item <strong>"Screen Options"</strong> in the upper right corner of the screen. Please click on the button and it will open an options panel where you can just check the box <strong>"Excerpt"</strong>. 
										</p>
										<p><img src="assets/images/theme/work-8_5.jpg" alt="" /></p>  
									</div>								
							   </div><!-- /.tabs -->

						  </div>
					</div>


			  </article>	

		</li>
  </ul>  
</section>  
<!-- /section -->