<!-- Introduction
================================================== -->
<section>
  <h1>1. Introduction</h1>
	
	
  <!-- ///  -->
  <h3>This is a &lt;H3&gt; title.</h3>
  <div>
	  <ul>
		  <li>List item.</li>
		  <li>List item.</li>
		  <li>List item.
		  
			  <ul>
				  <li>List item.</li>
				  <li>List item.</li>
				  <li>List item.</li>
			  </ul>
		  
		  </li>
	  </ul>
  </div>
	
  <p>This is a description.</p>
  <h4>This is a &lt;H4&gt; title.</h4>
  <p>This is a description.</p>
  <h5>This is a &lt;H5&gt; title.</h5>
  <p>This is a description.</p>
  <h6>This is a &lt;H6&gt; title.</h6>
  <p>This is a description.</p>
  <h3>H3</h3>
  <h4>H4</h4>
  <h5>H5</h5>
  <h6>H6</h6>


<pre><code class="language-javascript">function $initHighlight(block, cls) {
  try {
    if (cls.search(/\bno\-highlight\b/) != -1)
      return process(block, true, 0x0F) +
             ` class="${cls}"`;
  } catch (e) {
    /* handle exception */
  }
  for (var i = 0 / 2; i < classes.length; i++) {
    if (checkCondition(classes[i]) === undefined)
      console.log('undefined');
  }
}

export  $initHighlight;</code></pre>

	  <h3>H3</h3>
	  <h4>H4</h4>
	  <h5>H5</h5>
	  <h6>H6</h6>
	  <blockquote>
	    This is a description.
	  </blockquote>
					
	<p>First of all a huge thank you for purchasing XXX Theme. If you have any questions that are beyond the scope of this help file, please join my <a href="https://uiux.cc/support/" target="_blank">Support Center</a>. You can also follow me to keep track of all theme updates and future themes.</p>
	<p>Watch the video below for a quick overview of how it works, and read below for more examples and settings.</p>
	<br>


	<p>
		<!-- // -->
		<div class="card">
			<div class="card__header">
				<div>01. How to install theme manually? </div>
			</div>
			<div class="card__body">
				<div> </div>
			</div>
			<div class="card__footer">
				<div>
					<a href="https://youtu.be/zo6A9Du3bb8" target="_blank" class="card-button">Watch Video Online</a>
				</div>
			</div>
		</div> 

		<!-- // -->
		<div class="card">
			<div class="card__header">
				<div>02. How to create primary & footer navigation menu? </div>
			</div>
			<div class="card__body">
				<div> </div>
			</div>
			<div class="card__footer">
				<div>
					<a href="https://youtu.be/AtydxJdnJ84" target="_blank" class="card-button">Watch Video Online</a>
				</div>
			</div>
		</div> 


		<!-- // -->
		<div class="card">
			<div class="card__header">
				<div>03. How to turn standard drop-down menus into mega menus in your theme? </div>
			</div>
			<div class="card__body">
				<div> </div>
			</div>
			<div class="card__footer">
				<div>
					<a href="https://youtu.be/ea4LOy4QxCQ" target="_blank" class="card-button">Watch Video Online</a>
				</div>
			</div>
		</div> 

		<!-- // -->
		<div class="card">
			<div class="card__header">
				<div>04. How to add social media icons to your website? </div>
			</div>
			<div class="card__body">
				<div> </div>
			</div>
			<div class="card__footer">
				<div>
					<a href="https://youtu.be/0VHC7kK97u8" target="_blank" class="card-button">Watch Video Online</a>
				</div>
			</div>
		</div> 

		<!-- // -->
		<div class="card">
			<div class="card__header">
				<div>05. How to upload your own LOGO? </div>
			</div>
			<div class="card__body">
				<div> </div>
			</div>
			<div class="card__footer">
				<div>
					<a href="https://youtu.be/GfIzkDu3vsE" target="_blank" class="card-button">Watch Video Online</a>
				</div>
			</div>
		</div> 


		<!-- // -->
		<div class="card">
			<div class="card__header">
				<div>06. How to set your WordPress home page? </div>
			</div>
			<div class="card__body">
				<div> </div>
			</div>
			<div class="card__footer">
				<div>
					<a href="https://youtu.be/tSXsDtFmLls" target="_blank" class="card-button">Watch Video Online</a>
				</div>
			</div>
		</div> 		


		<!-- // -->
		<div class="card">
			<div class="card__header">
				<div>07. How to only specify the homepage logo? </div>
			</div>
			<div class="card__body">
				<div> </div>
			</div>
			<div class="card__footer">
				<div>
					<a href="https://youtu.be/TLopkLRTESI" target="_blank" class="card-button">Watch Video Online</a>
				</div>
			</div>
		</div> 		



		<!-- // -->
		<div class="card">
			<div class="card__header">
				<div>08. How to add images to slides? </div>
			</div>
			<div class="card__body">
				<div> </div>
			</div>
			<div class="card__footer">
				<div>
					<a href="https://youtu.be/b7tHFqlQxYY" target="_blank" class="card-button">Watch Video Online</a>
				</div>
			</div>
		</div> 		


		<!-- // -->
		<div class="card">
			<div class="card__header">
				<div>09. How to add portfolio items? </div>
			</div>
			<div class="card__body">
				<div> </div>
			</div>
			<div class="card__footer">
				<div>
					<a href="https://youtu.be/U90CVj5iNqk" target="_blank" class="card-button">Watch Video Online</a>
				</div>
			</div>
		</div> 			


		<!-- // -->
		<div class="card">
			<div class="card__header">
				<div>10. How to create a list of portfolio page in your site? </div>
			</div>
			<div class="card__body">
				<div> </div>
			</div>
			<div class="card__footer">
				<div>
					<a href="https://youtu.be/11293_d-zHo" target="_blank" class="card-button">Watch Video Online</a>
				</div>
			</div>
		</div> 	


		<!-- // -->
		<div class="card">
			<div class="card__header">
				<div>11. How to create a list of blog page in your site? </div>
			</div>
			<div class="card__body">
				<div> </div>
			</div>
			<div class="card__footer">
				<div>
					<a href="https://youtu.be/DFOTgqpMfdo" target="_blank" class="card-button">Watch Video Online</a>
				</div>
			</div>
		</div> 	


		<!-- // -->
		<div class="card">
			<div class="card__header">
				<div>12. How to create a contact page in your site? </div>
			</div>
			<div class="card__body">
				<div> </div>
			</div>
			<div class="card__footer">
				<div>
					<a href="https://youtu.be/H6UqpyLmW98" target="_blank" class="card-button">Watch Video Online</a>
				</div>
			</div>
		</div> 	

		<!-- // -->
		<div class="card">
			<div class="card__header">
				<div>13. How to customize your portfolio or blog layout? </div>
			</div>
			<div class="card__body">
				<div> </div>
			</div>
			<div class="card__footer">
				<div>
					<a href="https://youtu.be/FcFhUEyV4aU" target="_blank" class="card-button">Watch Video Online</a>
				</div>
			</div>
		</div> 	


		<!-- // -->
		<div class="card">
			<div class="card__header">
				<div>14. How to change the default color scheme? </div>
			</div>
			<div class="card__body">
				<div> </div>
			</div>
			<div class="card__footer">
				<div>
					<a href="https://youtu.be/cPXnSl76g38" target="_blank" class="card-button">Watch Video Online</a>
				</div>
			</div>
		</div> 	


		<!-- // -->
		<div class="card">
			<div class="card__header">
				<div>15. How to create a "Team", "Pricing", "Feaures" or "Clients" page? </div>
			</div>
			<div class="card__body">
				<div> </div>
			</div>
			<div class="card__footer">
				<div>
					<a href="https://youtu.be/raJ_PUZO5IA" target="_blank" class="card-button">Watch Video Online</a>
				</div>
			</div>
		</div> 				



	</p>

</section>
<!-- /section -->
