<!-- Setting up the Menu
================================================== -->
<section>
  <h1>5. Setting up the Menu</h1>

  <ul> 
		<li>
			  <h2>5.1. Primary Menu</h2>
			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 1.</h5> Go to <code>Dashboard » Appearence » Menus</code>.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/menu-side.jpg" alt="" /></div>
					</div>
			  </article>

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 2.</h5> Click on <strong>"create a new menu"</strong> to create your first custom menu.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/menu-1.jpg" alt="" /></div>
					</div>
			  </article>

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 3.</h5> Enter a name for your new menu in the Menu Name box. Like "Main Menu".
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/menu-2.jpg" alt="" /></div>
					</div>
			  </article>

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 4.</h5> Click the <strong>"Create Menu"</strong> button.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/menu-3.jpg" alt="" /></div>
					</div>
			  </article>			  

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 5.</h5> Adding Items to a Menu.<br><br>

							  <ul>
								<li>Locate the pane entitled <strong>"Pages"</strong>.</li>
								<li>Select the Pages that you want to add by clicking the checkbox next to each Page's title.</li>
								<li>Click the <strong>"Add to Menu"</strong> button located at the bottom of this pane to add your selection(s) to the menu that you created in the previous step.</li>
							  </ul>

						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/menu-4.jpg" alt="" /></div>
					</div>
			  </article>	


			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 6.</h5> Finally, you should tick the appropriate checkbox of <strong>"Primary Menu"</strong> from options as <strong>"Theme locations"</strong>.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/menu-5.jpg" alt="" /></div>
					</div>
			  </article>

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 7.</h5> Click the <strong>"Save Menu"</strong> button once you've added all the menu items you want. 

						   </p>
						  </div>
						  <div class="col-md-9"><img src="assets/images/theme/menu-6.jpg" alt="" /></div>
					</div>
			  </article>	  

		</li>
		<li>
			  <h2>5.2. Footer Menu</h2>
			  <p>When I create a custom WordPress theme for my clients I like to create a footer menu as well. This is useful for adding links to contact, sitemap and so on. Like this: </p>
			  <p>
				  <img  src="assets/images/theme/footermenu-demo.jpg" alt="" />
			   </p>

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 1.</h5> Go to <code>Dashboard » Appearence » Menus</code>.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/menu-side.jpg" alt="" /></div>
					</div>
			  </article>

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 2.</h5> Click on <strong>"create a new menu"</strong> to create your first custom menu.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/menu-1.jpg" alt="" /></div>
					</div>
			  </article>

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 3.</h5> Enter a name for your new menu in the Menu Name box. Like "Footer Menu".
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/menu-2_2.jpg" alt="" /></div>
					</div>
			  </article>

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 4.</h5> Click the <strong>"Create Menu"</strong> button.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/menu-3.jpg" alt="" /></div>
					</div>
			  </article>			  

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 5.</h5> Adding Items to a Menu.<br><br>

							  <ul>
								<li>Locate the pane entitled <strong>"Pages"</strong>.</li>
								<li>Select the Pages that you want to add by clicking the checkbox next to each Page's title.</li>
								<li>Click the <strong>"Add to Menu"</strong> button located at the bottom of this pane to add your selection(s) to the menu that you created in the previous step.</li>
							  </ul>

						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/menu-4_2.jpg" alt="" /></div>
					</div>
			  </article>	

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 6.</h5> Finally, you should tick the appropriate checkbox of <strong>"Footer Navigation"</strong> from options as <strong>"Theme locations"</strong>.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/menu-5_2.jpg" alt="" /></div>
					</div>
			  </article>

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 7.</h5> Click the <strong>"Save Menu"</strong> button once you've added all the menu items you want.

						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/menu-6.jpg" alt="" /></div>
					</div>
			  </article>	

		</li>
		<li>
			  <h2>5.3. Mega Menu</h2>

			  <p>The Mega Menu extension gives the end-user the ability to construct advanced navigation menus. You can create one in the same way you create a regular sub menu. However, you have to choose the option of Enable Mega Menu to activate the mega-menu. The next level of submenu will be mega menu each column's title. Like this: </p>
			  <p>
			   <img  src="assets/images/theme/megamenu-demo.jpg" alt="" />
			 </p>

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 1.</h5> Each Menu Item has a configuration arrow on the right side of the Menu Item title, that when clicked opens the configuration box. You can see some options.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/megamenu-1.jpg" alt="" /></div>
					</div>
			  </article>

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 2.</h5> Select your menu item and click the check box for <strong>"Enable mega menu for this menu item"</strong>.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/megamenu-2.jpg" alt="" /></div>
					</div>
			  </article>

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 3.</h5> The Mega Menu Structure: 

						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/megamenu-3.jpg" alt="" /></div>
					</div>
			  </article>	

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 4.</h5> Click the <strong>"Save Menu"</strong> button once you've added all the menu items you want.

						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/menu-6.jpg" alt="" /></div>
					</div>
			  </article>	  



		</li>

  </ul>  

	<div class="bs-callout bs-callout-info">
		This official document is meant to give a tutorial-like overview of create a new custom menu in WordPress. Click here to see:<br> <a href="https://codex.wordpress.org/Appearance_Menus_Screen" target="_blank" rel="nofollow">Appearance Menus Screen</a>

	</div> 



</section>  
<!-- /section -->