<!-- Widgets
================================================== -->
<section>
  <h1>17. Widgets</h1>
	<p>WordPress Widgets add content and features to your Sidebars. Examples are the default widgets that come with WordPress; for post categories, tag clouds, navigation, search, etc.</p>

	<p><img src="assets/images/theme/widget-2.jpg" alt="" /></p>

   <ul> 
		<li>
			<h2>17.1. Add Widgets to Your Site</h2>
			<p>You can add a Widget by following these steps:</p>
			<ul>
				<li>Go to <code>Dashboard » Appearance » Widgets</code>.</li>
				<li>Click a widget you want to add. The widgets should be added in the sidebar.</li>
				<li>Preview your site and you should see the content from your new Widget.</li>
				<li>To arrange the Widgets within the Sidebar, drag and drop the widgets in the order you want or click Reorder link and click up arrow and down allow of each widget and click Done after the arrange operation.</li>
				<li>To customize the Widget features, click the <strong>"down arrow"</strong> in the right to expand the Widget's interface.</li>
				<li>To remove the widget, click <strong>"delete"</strong> from Widget's interface in above step.</li>
			</ul>
			<p>If you change WordPress Themes, the Widgets will return to the left side of the page in the Widget Archives or Available Widgets list. You may need to add them again and rearrangement depending upon the Theme's ability to preserve other Theme's Widgets.</p>

			<div class="bs-callout bs-callout-info">
				This official document is meant to give a tutorial-like overview of custom widgets in WordPress. Click here to see:<br> <a href="https://codex.wordpress.org/WordPress_Widgets" target="_blank" rel="nofollow">WordPress Widgets</a>

			</div> 

	   </li>

		<li>
			<h2>17.2. New Widgets</h2>
			<p>There are 2 widgets supported in this theme as below:</p>
			<h4>1. Social Media Buttons</h4>
			<p>You could go to <code>Dashboard » Appearance » Customize » Social Links</code> to set up it.</p>
			<p>
				<img src="assets/images/theme/widget-3.jpg" alt="" />
			</p>
			<h4>2. Uix Products: Recent Products</h4>
			<p>If you need, please check the checkbox of <strong>"Display post date?"</strong>. Other checkboxes can be ignored, because the theme does not bind them.</p>
			<p>
				<img src="assets/images/theme/widget-4.jpg" alt="" />
			</p>

	   </li>	

		<li>
			<h2>17.3. Sidebar Areas</h2>
			<p>There are 2 sidebar areas in this theme as below:</p>
			<h4>1. Primary Sidebar</h4>
			<p>Main sidebar that appears on the left.</p>
			<p>
				<img src="assets/images/theme/widget-5.jpg" alt="" />
			</p>
			<h4>2. Homepage Advertising</h4>
			<p>Widgets in this area are used in footer for your home page. You can add the Ads in your sidebar by using WordPress widgets. Simply go to Appearance » Widgets in your WordPress admin area. Next drag & drop the Text widget to the appropriate widget area and paste your Google AdSense code in there.</p>
			<p>
				<img src="assets/images/theme/widget-6.jpg" alt="" />
			</p>

	   </li>	

		<li>
			<h2>17.4. Add an Instagram Feed to Footer	</h2>
			<p>You can add a Widget by following these steps:</p>
			<ul>
				<li>Go to <code>Dashboard » Appearance » Widgets</code>.</li>
				<li>Drag & drop the "Instagram Feed" widget to the "Full-Width Footer Area".</li>
				<li>Enter your Instagram username. You can set the size and number of the list photos.</li>

			</ul>

			<div class="bs-callout bs-callout-danger">
			  Because the reason of internet speed, may read your Instagram Photos failure, this is not a bug.
			</div>

			<p>
				<img src="assets/images/theme/widget-7.jpg" alt="" />
			</p>

	   </li>	   	




  </ul>	  


</section>  
<!-- /section -->