<!-- Setting up the Sliders
================================================== -->
<section>
  <h1>10. Setting up the Sliders</h1>
  <ul> 
		<li>
			  <h2>10.1. Customization Options</h2>
			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 1.</h5> Go to <code>Dashboard » Appearance » Customize</code>.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/customize-1.jpg" alt="" /></div>
					</div>
			  </article>

			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 2.</h5> Locate the <strong>"Slideshow Settings"</strong> section on the left side of the screen.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/slider-1.jpg" alt="" /></div>
					</div>
			  </article>



			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 3.</h5> On this page, edit the options and click the <strong>"Save & Publish"</strong> button.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/slider-2.jpg" alt="" /></div>
					</div>
			  </article>

		</li>

		<li>
			  <h2>10.2. Add New Slider</h2>
			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 1.</h5> Go to <code>Dashboard » Uix Slideshow » Add New Item</code>.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/slider-3.jpg" alt="" /></div>
					</div>
			  </article>
			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 2.</h5> Enter your slider title in the upper field, and upload your slider image from the <strong>"Slider Settings"</strong> section on the bigger left one. You could want to add your own custom caption and set up your slider colors for title & caption.
						  </p></div>
						  <div class="col-md-9"><img src="assets/images/theme/slider-4.jpg" alt="" /></div>
					</div>
			  </article>	 
			  <article>
					<div class="row">	  
						  <div class="col-md-3"><p>
							  <h5>Step 3.</h5> As needed, select a <code class="language-javascript">URL Settings</code> or <code class="language-javascript">Button Settings</code>. 
						  </p></div>
						  <div class="col-md-9">
								<div class="tabs">		

									<h3>URL Settings</h3>
									<div>
									   <p>
									 If left blank, the front-end does not show the button.
										</p>
										<p><img src="assets/images/theme/slider-5.jpg" alt="" /></p>  
									</div>	
									<h3>Button Settings</h3>
									<div>
										<p>
										You could set up your button color, text and size.
										</p>
										<p><img src="assets/images/theme/slider-5_2.jpg" alt="" /></p>  
									</div>								
							   </div><!-- /.tabs -->

						  </div>
					</div>


			  </article>	

		</li>
  </ul>  
</section>  
<!-- /section -->