<!-- Pagination Styling
================================================== -->
<section>
  <h1>21. Pagination Styling</h1>
  <p>If you want to using numeric pagination for your blog and portfolio pages, also allow you change it.</p>

  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 1.</h5> Go to <code>Dashboard » Appearance » Customize</code>.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/customize-1.jpg" alt="" /></div>
		</div>
  </article>

  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 2.</h5> Locate the <strong>"Styling » Paging Navigation"</strong> section on the left side of the screen.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/pagination-1.jpg" alt="" /></div>
		</div>
  </article>



  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 3.</h5> You should be able to find option <strong>"Numeric Pagination"</strong> at this point.
If set to "on", the pages module will display numbered pagination instead of Next/Previous links. When you’re done, click <strong>"Save & Publish"</strong> button.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/pagination-2.jpg" alt="" /></div>
		</div>
  </article>


</section>  
<!-- /section -->