<!-- Color Schemes
================================================== -->
<section>
  <h1>22. Color Schemes</h1>
  <p>Theme includes a backend color picker in the theme options that allows you to easily change the color of any element throughout the entire theme. You can also choose 7 of our color schemes. It has Unlimited Color Options, keep the "Predefined Color Scheme" simultaneously.</p>

  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 1.</h5> Go to <code>Dashboard » Appearance » Customize</code>.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/customize-1.jpg" alt="" /></div>
		</div>
  </article>

  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 2.</h5> Locate the <strong>"Colors"</strong> section on the left side of the screen.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/schemes-1.jpg" alt="" /></div>
		</div>
  </article>



  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 3.</h5> You should be able to find option <strong>"Predefined Color Scheme"</strong> and <strong>"Custom Colors"</strong>  at this point. When you’re done, click <strong>"Save & Publish"</strong> button.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/schemes-2.jpg" alt="" /><img src="assets/images/theme/schemes-3.jpg" alt="" /></div>
		</div>
  </article>


</section>  
<!-- /section -->