<!-- Google Analytics
================================================== -->
<section>
  <h1>20. Google Analytics</h1>
  <p>Knowing how your audience interacts with your website is crucial for your success. The best way to know your audience is through your traffic stats and this is what Google Analytics provide for FREE.</p>
  <div>
	  <ul>
		<li>First you would need to create a Google Analytics account. To do this, visit Google Analytics Signup Page.</li>
		<li>Accessing Your Tracking Code. Whether you’ve created a new property or clicked the button to access the tracking code for an existing property, you’ll now be presented with the code like "UA-00000000-0" to insert into your theme.</li>

	 </ul>  
  </div>
 <br>
  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 1.</h5> Go to <code>Dashboard » Appearance » Customize</code>.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/customize-1.jpg" alt="" /></div>
		</div>
  </article>

  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 2.</h5> Locate the <strong>"General"</strong> section on the left side of the screen.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/footer-2.jpg" alt="" /></div>
		</div>
  </article>



  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 3.</h5> You should be able to find option <strong>"Google Analytics"</strong> at this point. Edit it and hit the <strong>"Save & Publish"</strong> button.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/analytics-1.jpg" alt="" /></div>
		</div>
  </article>


</section>  
<!-- /section -->