<!-- Typography
================================================== -->
<section>
  <h1>16. Typography</h1>
  <p>Setting "Body", "Heading", "Menu", "Brand" and "Attributes Text on Single Page" Typography with Google Fonts, if you like!</p>

  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 1.</h5> Go to <code>Dashboard » Appearance » Customize</code>.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/customize-1.jpg" alt="" /></div>
		</div>
  </article>

  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 2.</h5> Locate the <strong>"Fonts"</strong> section on the left side of the screen.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/font-3.jpg" alt="" /></div>
		</div>
  </article>



  <article>
		<div class="row">	  
			  <div class="col-md-3"><p>
				  <h5>Step 3.</h5> Change all of font types and font styles from here. When you’re done, click <strong>"Save & Publish"</strong> button.
			  </p></div>
			  <div class="col-md-9"><img src="assets/images/theme/font-1.jpg" alt="" /><img src="assets/images/theme/font-2.jpg" alt="" /></div>
		</div>
  </article>


</section>  
<!-- /section -->