<!-- Setting up the Home Page
================================================== -->
<section>
  <h1>6. Setting up the Home Page</h1>
  <div> 

	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 1.</h5> Go to <code>Dashboard » Page » Add New</code>.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/cus-page-1.jpg" alt="" /></div>
			</div>
	  </article>


	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 2.</h5> You will find <code>Uix Page Builder Attributes</code> settings in a meta box in your WordPress backend when you create a new page or when you are editing an existing one. Click the <strong>"Use Visual Builder"</strong> button.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/page-builder-1.jpg" alt="" /></div>
			</div>
	  </article> 


	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 3.</h5> The Uix Page Builder provides 10+ templates related to the theme by default. Click the <strong>"Select a Template"</strong> button on the left side of the screen.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/page-builder-2.jpg" alt="" /></div>
			</div>
	  </article> 



	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 4.</h5> Choose a template you like and click the <strong>"Confirm"</strong> button. You can modify the information of any module. At the same time, you could drag and drop them so they retain some order and add new modules you want.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/page-builder-3.jpg" alt="" /><img src="assets/images/theme/page-builder-3_2.jpg" alt="" /></div>
			</div>
	  </article> 

	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 5.</h5> Click the <strong>"Publish"</strong> button, and then you can exit the Visual Builder interface.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/page-builder-4.jpg" alt="" /></div>
			</div>
	  </article>      


	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 6.</h5> Click the <strong>"Exit Visual Builder"</strong> button after you can return page edit screen.<br><br> You can change the title and slug part of a URL for a WordPress page. On the page edit screen, look just below the page title and you will see the page URL with an edit button next to it. Clicking on this edit button will allow you to change the page slug, like <strong>"Home Slideshow Full Header"</strong>.<br><br>Finally do not forget to click the <strong>"Update"</strong> button.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/page-builder-4_2.jpg" alt="" /><img src="assets/images/theme/page-builder-5.jpg" alt="" /></div>
			</div>
	  </article>      



	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 7.</h5> Go to <code>Dashboard » Settings » Reading » Front page displays</code>. Select A Static Page option.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/cus-homepage-3.jpg" alt="" /></div>
			</div>
	  </article>     

	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 8.</h5> Assign the <strong>"Front page"</strong> and Save changes. Choose the page you want as your home page from the Front Page dropdown list. In the drop down menu for Front Page select <code class="language-javascript">Home Slideshow Full Header</code>.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/cus-homepage-4.jpg" alt="" /></div>
			</div>
	  </article>       


	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 9.</h5> You can specify the <strong>"Homepage Logo"</strong> from <code>Dashboard » Appearance » Customize</code> in your Dashboard. If the <strong>"Homepage Logo"</strong> exists, this Logo specified on your current homepage only.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/logo-4.jpg" alt="" /></div>
			</div>
	  </article>


  </div>

</section>  
<!-- /section -->