<!-- Header Customization
================================================== -->
<section>
  <h1>13. Header</h1>
	 <p>The theme allows users to upload their very own custom image header to obtain a much more personalized look and feel. You can choose default custom headers packaged with the theme. </p>
	 <p><img  src="assets/images/theme/header-3.jpg" alt="" /></p>

	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 1.</h5> Go to <code>Dashboard » Appearance » Customize</code>.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/customize-1.jpg" alt="" /></div>
			</div>
	  </article>

	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 2.</h5> Locate the <strong>"Header Image"</strong> section on the left side of the screen.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/header-1.jpg" alt="" /></div>
			</div>
	  </article>



	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 3.</h5> Here, you may choose between your own images—if you have recently uploaded any—and a selection of suggested images for your current theme if it has any. When you’re done, click <strong>"Save & Publish"</strong> button.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/header-2.jpg" alt="" /></div>
			</div>
	  </article>



</section>  
<!-- /section -->