<!-- Setting up the Logo & Favicon
================================================== -->
<section>
  <h1>7. Setting up the Logo & Favicon</h1>
  <div> 

	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 1.</h5> Go to <code>Dashboard » Appearance » Customize</code>.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/customize-1.jpg" alt="" /></div>
			</div>
	  </article>


	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 2.</h5> Locate the <strong>"Site Identity"</strong> section on the left side of the screen.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/logo-1.jpg" alt="" /></div>
			</div>
	  </article>


	  <article>
			<div class="row">	  
				  <div class="col-md-3"><p>
					  <h5>Step 3.</h5> On this page, edit the options and click the <strong>"Save & Publish"</strong> button. If the <strong>"Homepage Logo"</strong> exists, this Logo specified on your current homepage only.
				  </p></div>
				  <div class="col-md-9"><img src="assets/images/theme/logo-3.jpg" alt="" /><br><img src="assets/images/theme/logo-4.jpg" alt="" /><br><img src="assets/images/theme/logo-2.jpg" alt="" /></div>
			</div>
	  </article>



  </div>

</section>  
<!-- /section -->