<!-- Shortcodes
================================================== -->
<section>
	<h1>24. Shortcodes</h1>

	<p>
Go to your WordPress admin panel, edit or create a new post (or page). You’ll see our tiny little button in the toolbar, preceded by a separator:
	</p>
	<p><img src="assets/images/shortcodes-use.jpg" alt="" /></p>
	<p>
		The content elements are the heart of any page builder. These are the elements shortcodes that come with theme. You may customize the shortcode by changing/adding the parameters. <strong>"Content Shortcode"</strong>, <strong>"Column Shortcode"</strong>, <strong>"Web Elements Shortcode"</strong>, <strong>"Container Shortcode"</strong>, and so on. They could be used together.
	</p>
	<div class="bs-callout bs-callout-info">
	  <h4><a href="https://uiux.cc/wp-plugins-helper/uix-shortcodes" target="_blank">Online Documentation</a></h4>
	</div>

</section>
<!-- /section -->
