<!-- Support
================================================== -->
<section>
	<h1>27. Support</h1>

	 <p>If you like this WordPress theme, please don’t forget rate it  &nbsp;&nbsp;<span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span> . It really helps me a lot, thank you very much!

	<br>Please feel free to contact us with any query. We’ll be glad to help you! Ways to contact me (by preference):
	</p>

	<p><a class="link-to" target="_blank" href="https://uiux.cc/support/">Get Support</a></p> 


</section>
<!-- /section -->