
@@include('./src/components/_html/include-header.html')
  

<div class="brand">
    <h1>Documentation<sup>2020</sup></h1>
</div>

<div class="menu-mobile__toggle">
	<span></span>
	<span></span>
	<span></span>
</div>
<div class="menu-mobile__mask"></div>



<div class="bs-docs-sidebar__wrapper">
	<div class="bs-docs-sidebar" role="complementary">
		@@include('./src/components/_html/include-menu.html')
	</div>
</div>
<!-- /.bs-docs-sidebar__wrapper -->



<div class="bs-docs-sections__wrapper">

	<div class="container">

		<div class="row">


			<div class="col-md-12" role="main">
				
				
				

				<!-- Section Title
				================================================== -->
				<section>
				     <h1 class="title">Getting Started</h1>
				</section>
				<!-- /section -->
				
				@@include('./src/components/_html/chapters/include-01.html')
				@@include('./src/components/_html/chapters/include-02.html')
				@@include('./src/components/_html/chapters/include-03.html')
				@@include('./src/components/_html/chapters/include-03.html')
				@@include('./src/components/_html/chapters/include-04.html')
				@@include('./src/components/_html/chapters/include-05.html')
				@@include('./src/components/_html/chapters/include-06.html')
				@@include('./src/components/_html/chapters/include-07.html')
				@@include('./src/components/_html/chapters/include-08.html')
				@@include('./src/components/_html/chapters/include-09.html')
				@@include('./src/components/_html/chapters/include-10.html')
				@@include('./src/components/_html/chapters/include-11.html')
				@@include('./src/components/_html/chapters/include-12.html')
				@@include('./src/components/_html/chapters/include-13.html')
				@@include('./src/components/_html/chapters/include-14.html')
				@@include('./src/components/_html/chapters/include-15.html')
				@@include('./src/components/_html/chapters/include-16.html')
				@@include('./src/components/_html/chapters/include-17.html')
				@@include('./src/components/_html/chapters/include-18.html')
				@@include('./src/components/_html/chapters/include-19.html')
				@@include('./src/components/_html/chapters/include-20.html')
				@@include('./src/components/_html/chapters/include-21.html')
				@@include('./src/components/_html/chapters/include-22.html')
				@@include('./src/components/_html/chapters/include-23.html')

				<!-- ================================================== -->
				<section>
				     <h1 class="title">Plugins</h1>
				</section>
				<!-- /section -->
				
				@@include('./src/components/_html/chapters/include-24.html')
				@@include('./src/components/_html/chapters/include-25.html')
				@@include('./src/components/_html/chapters/include-26.html')
				@@include('./src/components/_html/chapters/include-27.html')
				@@include('./src/components/_html/chapters/include-28.html')




			</div><!-- /.col-md-9 -->


		</div><!-- /.row -->

	</div><!-- /.container -->

</div>
<!-- /.bs-docs-sections__wrapper -->




	  
@@include('./src/components/_html/include-footer.html')